body {
    font-family: Arial;
    font-size: 12px;
}

a {
    text-decoration: none;
}

#header{
    top:0;
    left:0;
    position: fixed;
    width:100%;
}

#header ul{
    text-align: right;
    padding-right: 30px;
}


#header li{
    display: inline-block;
}
#header a {
    text-decoration: none;
    color:black;
    font-size: 12px;
    padding:10px;
}

#header a:hover {
    text-decoration: underline;
    color:black;
    font-size: 12px;
    padding:10px;
}
.container{
    text-align: center;
    padding-top:200px;
}

#signin span {
    background-color: #6969F6;
    font-size: 13px;
    padding:10px;
    color:white;
    padding:7px 12px;
    font-weight: bold;
}

#logo{
    height: 120px;
}
input {
    width: 550px;
    border-radius: 0px;
    border:1px solid #e5e5ff;
    outline: none;
}

.buttons {
    width:100%;
    height:75px;
}

button{
    border-radius: 0px;
    border: 1px solid #aaaaaa;
    padding:5px;   
}
.buttons li{
    display: inline;
    background-color: black;
    margin-right: 15px;
}

#button1 span, #button2 span{
    font-weight: bold;
    font-size: 10px;
}

#footer{
    width: 100%;
    bottom:0;
    left:0;
    position: fixed;
    background-color: #eeeeee;
    border-top:1px solid #dddddd;

}

#footer li {
    list-style: none;
    display: inline-block;
}

#footer #leftside{
    float:left;
}

#footer #rightside{
    float:right;
    padding-right: 30px;
}

#footer a{
    margin-right: 30px;
    color: #605F5F;
}

#footer a:hover{
    text-decoration: underline;
}

/*#footer li{
    display: inline-block;
}

#leftside{
    float:left;
}
#rightside{
    float: right;
    padding-right: 30px;
}

#footer a{
    text-decoration: none;
    font-size: 12px;
    color: #484848; 
    padding-right: 20px;
}

#footer a:hover{
    text-decoration: underline;
    font-size: 12px;
    color: #484848; 
    padding-right: 20px;
}*/